<h1 class="display-6 mb-6 h centr"> Products Details</h1>
<hr>
<div class="row text-center justify-content-center">
  <div class="col-md-4 ">
    <div class="card mb-4 ">
      <img  class="card-img-top" src="{{productInfo?.productIcon}}">
      <div class="card-body">
        <h2 class="card-title ">{{productInfo?.productName}}</h2><hr>
        <form name="form" #form='ngForm' (ngSubmit)="productInfo?.productStatus == 0 && addToCart()">
          <div class="text-left">
            <input hidden name="productId" [value]=productInfo?.productId>
            <p class="card-test f"><strong>About Product: </strong>{{productInfo?.productDescription}}</p>
            <p class="card-text f">
              <strong>Price: </strong>
              <label id="price">{{productInfo?.productPrice | currency:"INR":"symbol"}}</label>
            </p>
            <p class="card-text f" ><strong > current Stock: </strong>{{productInfo?.productStock}}</p>

            <label class="card-text f">
              <strong>Quantity: </strong>
              <input [(ngModel)]=count
                     (change)="validateCount()"
                     type="number"
                     name="count"
                     required
                     min="1"
                     [max]=productInfo?.productStock
              >
            </label>


            <p class="card-text f"><strong>Total: </strong>
              <label id="subtotal">{{count * productInfo?.productPrice | currency:"INR":"symbol"}}</label>
            </p>
          </div>

        <i *ngIf="currentUser && addedToWishlist" class="fas fa-heart icon-4x w" (click)="handleRemoveFromWishList(productInfo.productId)"></i>
         <i *ngIf="currentUser && !addedToWishlist" class="far fa-heart icon-4x w hvr" (click)="handleAddToWishList(productInfo.productId)" style="font-size: 10px;">wishlist</i>
         
          <button type="submit" [disabled]="!form.form.valid" *ngIf="productInfo?.productStatus == 0; else offBlock"
                  class="btn btn-success btn-lg"
          >Add to Cart
          </button>
          <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Out of Stock</a></ng-template>
        </form>

      </div>
    </div>
  </div>
</div>
